In [1]:
import pandas as pd
import numpy as np
import scipy as sp

from sklearn import svm
from sklearn.neighbors.nearest_centroid import NearestCentroid
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:

def read_joke_user_likes_data():
    data = pd.read_csv('jester_dataset_2/joke_user_bucket_dataset.csv')
    data.head()
    len(data)
    return data

In [3]:
X = read_joke_user_likes_data()
Y = X['likes']
print("X total length:",len(X))
print("Y total length:",len(Y))

X total length: 1048575
Y total length: 1048575

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=99)

print("X_train total length:",len(X_train))
print("X_test total length:",len(X_test))
print("Y_train total length:",len(y_train))

X_train total length: 943717
X_test total length: 104858
Y_train total length: 943717

In [5]:
model_nb = GaussianNB()
model_svm = svm.SVC()
model_rfc = RandomForestClassifier()
model_knn_centroid = NearestCentroid()
model_knn = KNeighborsClassifier()


best_model = None
best_accuracy = 0
best_preds = None

In [6]:
#navie bayes analysis
model_nb.fit(X_train, y_train)
preds = model_nb.predict(X_test)
accuracy = accuracy_score(y_test, preds)
if accuracy > best_accuracy:
    best_accuracy = accuracy
    best_model = model_nb
    best_preds = preds

print("Name:Navie Bayes")
print("Accuracy score: ", accuracy)

Name:Navie Bayes
Accuracy score:  1.0

In [7]:
#svm analysis
# model_svm.fit(X_train, y_train)
# preds = model_svm.predict(X_test)
# accuracy = accuracy_score(y_test, preds)
# if accuracy > best_accuracy:
#     best_accuracy = accuracy
#     best_model = model_svm
#     best_preds = preds
    
# print("Name:SVM")
# print("Accuracy score: ", accuracy)

In [8]:
#Random Forest analysis
model_rfc.fit(X_train, y_train)
preds = model_rfc.predict(X_test)
accuracy = accuracy_score(y_test, preds)
if accuracy > best_accuracy:
    best_accuracy = accuracy
    best_model = model_rfc
    best_preds = preds
    
print("Name:Random Forest")
print("Accuracy score: ", accuracy)

Name:Random Forest
Accuracy score:  1.0

In [9]:
#nearest centrold analysis
model_knn_centroid.fit(X_train, y_train)
preds = model_knn_centroid.predict(X_test)
accuracy = accuracy_score(y_test, preds)
if accuracy > best_accuracy:
    best_accuracy = accuracy
    best_model = model_knn_centroid
    best_preds = preds
    
print("Name:Nearest Centroid")
print("Accuracy score: ", accuracy)

Name:Nearest Centroid
Accuracy score:  0.514276450056

In [10]:
#knn analysis
model_knn.fit(X_train, y_train)
preds = model_knn.predict(X_test)
accuracy = accuracy_score(y_test, preds)
if accuracy > best_accuracy:
    best_accuracy = accuracy
    best_model = model_knn
    best_preds = preds
    
print("Name:KNN ")
print("Accuracy score: ", accuracy)

Name:KNN
Accuracy score:  0.911012988995

In [11]:
print("Performance of models")
print("======================")

print("Best model:",best_model)
print("Best accuracy:",best_accuracy)
print("Best predictions:",best_preds)

Performance of models
======================
Best model: GaussianNB(priors=None)
Best accuracy: 1.0
Best predictions: [0 1 0 ..., 1 0 0]

In [25]:
output = pd.DataFrame()
output = pd.concat([output, X_test['user_id']], axis=1)
output['joke_id'] = X_test['joke_id']
output['likes'] = best_preds

output.head()

        user_id  joke_id  likes
787146    29962       16      0
618543    41622      121      1
228797    16211       89      0
193161    19616       59      0
537285    18305       19      0

In [30]:
joke_category_data = pd.read_csv('jester_dataset_2/joke_category_dataset.csv')
joke_category_data.head()
len(joke_category_data)
joke_category_data = joke_category_data.drop('joke_category', 1)

In [31]:
result = pd.merge(joke_category_data, output, how='right', on='joke_id')
result.head()

   joke_id joke_category_reduced  user_id  likes
0        1                doctor    19091      1
1        1                doctor    45460      1
2        1                doctor    44250      1
3        1                doctor    18022      1
4        1                doctor    14443      1

In [28]:
len(result)

104858

In [33]:
result.loc[(result['likes'] == 1) & (result['joke_category_reduced'] == 'animal')]

       joke_id joke_category_reduced  user_id  likes
0            1                doctor    19091      1
1            1                doctor    45460      1
2            1                doctor    44250      1
3            1                doctor    18022      1
4            1                doctor    14443      1
5            1                doctor    42052      1
6            1                doctor    37940      1
7            1                doctor    43783      1
8            1                doctor    11691      1
9            1                doctor    11203      1
10           1                doctor    49169      1
11           1                doctor     8143      1
12           1                doctor    17408      1
13           1                doctor    43487      1
14           1                doctor    42926      1
15           1                doctor    32906      1
16           1                doctor    34892      1
17           1                doctor    32168      1
18           1                doctor    16605      1
19           1                doctor    20969      1
20           1                doctor    17035      1
21           1                doctor    33405      1
22           1                doctor    16057      1
23           1                doctor    28019      1
24           1                doctor    43723      1
25           1                doctor    48638      1
26           1                doctor    45530      1
27           1                doctor     8454      1
28           1                doctor    18665      1
29           1                doctor    21217      1
...        ...                   ...      ...    ...
93963      134                doctor    38896      1
93965      134                doctor    45356      1
93967      134                doctor     9497      1
93969      134                doctor    22474      1
93974      134                doctor    29752      1
93976      134                doctor    46999      1
93977      134                doctor    40753      1
93979      134                doctor    48939      1
93980      134                doctor     9968      1
93981      134                doctor    25973      1
93984      134                doctor    50679      1
93985      134                doctor    29480      1
93987      134                doctor    25480      1
93988      134                doctor    45397      1
93992      134                doctor    17848      1
93993      134                doctor    41716      1
93994      134                doctor    30331      1
93995      134                doctor    32444      1
94002      134                doctor     9188      1
94004      134                doctor     9810      1
94006      134                doctor     1916      1
94007      134                doctor    33503      1
94012      134                doctor    14500      1
94013      134                doctor    32394      1
94014      134                doctor    50569      1
94015      134                doctor    16986      1
94016      134                doctor    38653      1
94017      134                doctor    25392      1
94023      134                doctor    47656      1
94024      134                doctor    50051      1

[3036 rows x 4 columns]